<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="parknow-dotnet" value="https://www.myget.org/F/parknow-dotnet/auth/54abb7b8-c5bb-421d-97c5-1b584d0c5312/api/v3/index.json" protocolVersion="3" />
    <add key="parknow-dotnet-preview" value="https://www.myget.org/F/parknow-dotnet-preview/auth/834b0694-e5a8-40a5-8725-62398c0490dc/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>